body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#chatroom-messages {
  margin-top: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 400;
  width: 800;
  list-style: none;
  border: 1px solid black;
}

#chatroom-messages ul li {
  list-style: none;
}

#plies {
  position: absolute;
  right: 50px;
  top: 50px;
}